<a href="/">
<p>HOME</p>
</a>
<br><br>
<h1>Here is you profile!</h1>
<br><br>

<p>Profile:</p>



<p>Email: <%= @user.email %></p>
<p>Password: <%= @user.password %></p>
<p>Firstname: <%= @user.firstname %></p>
<p>Lastname: <%= @user.lastname %></p>
<p>Age: <%= @user.age %></p>
<p>Gender: <%= @user.gender %></p>


    <form action="/users/<%= @user.id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete">
    </form>

  <form action="/users/<%= @user.id %>/edit" method="POST">
      <input type="hidden" name="_method" value="GET">
      <input type="submit" value="Edit">
    </form>